:root {
    --bodyBackground-color: rgb(255, 255, 255);
    --criadoComSucesso-color: green;
    --falhaAoCriar-color: red;
    --highHeaderFooter: 7vh;
    --header-footer-color: #333;
}

header {
    background-color: var(--header-footer-color);
    font-family: Arial, Helvetica, sans-serif;

    position: fixed;

    margin-top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--highHeaderFooter);
}

main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #container{
    margin-top: var(--highHeaderFooter);
    margin-bottom: var(--highHeaderFooter);

    padding: 1%;
    padding-bottom: 2%;

    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: var(--header-footer-color);
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:left;
    gap: 10px;
    align-items: center;
    height: var(--highHeaderFooter);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 1vh;
    }

nav .left {
    justify-content: space-between;
    align-items: center;
}

nav .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}

.faixa ul {
	display: flex;
}

.faixa ul li{
    padding-right: 14px;
    list-style-type: none;
}

.faixa button{
    border: none;
}
 
body {
    background-color: var(--bodyBackground-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

body .user-home-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     width: 100%;
}

body .otpion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

input{
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

input:hover{
    cursor:pointer;
}

.camposInput{
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}

select{
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

ul{
background-color: #333;
overflow: hidden;
display: flex;
justify-content: space-between;
align-items: flex-start;
}

li{
    list-style-type: none;
    padding: 10px;
}

li:hover{
    cursor:pointer;
    background-color: #8b8b8b;
    border-radius: 50px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    padding: 0% 3% 0% 3%;
}

tr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.discreetActionButton{
    background-color: transparent;
    color: rgb(146, 142, 142);
    border: none;
}

.discreetActionButton:hover{
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor:pointer;
}