:root {
    --mobileBannerWidth: 100px;
}

.events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stdBanner{
    background-color: rgb(182, 181, 181);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    align-items: flex-start;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 5%;
    width: 90%;
    height: 90%;
}

.bannerImg{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 13px 13px;
}

.stdBanner p{
    padding: 5px 10px 5px 10px; 
    margin: 0;
}

@media (max-width: 600px) {
    
    .bannerImg{
        width: 100%;

        height: calc(var(--mobileBannerWidth) - 10px) ;
        border-radius: 0px 0px 13px 13px;
    }

    .stdBanner{
        width: 90%;
        margin: 4%;

    }

    .events{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
