.eventsPost{
    width: 100%;
    height: 50%;
    background-size: cover;
    position: relative;
    display: table-cell; /* Adiciona display: table-cell */
    vertical-align: middle; /* Alinha verticalmente os elementos */
    justify-content: center;
}